.data{
    background-color: rgb(72, 1, 1);
    color: white;
    height: 96px;
    width: 800px;
    border-radius: 5px;
    margin-left:20px;
    margin-bottom: 10px;
    
}
.icon1{
    margin-left: -450px;
    margin-top: 30px;
}
.icon2{
    margin-right: -450px;
}
.icon3{
    margin-right: -250px;
}